body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#f2f2f2;
	font-size:90%;
	font:16px/26px "Roboto", Helvetica, Arial, sans-serif;
}
a {
	color:#369;
	text-decoration:none;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}

p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
header {
	width: 100%;
	.title {
		float: left;
	}
	.contact_info {
		font-size: .9em;
		margin-right: 10px;
		float: right;
	}
	a {
		padding-left: 15px;
		color: #369;
		background: none;
	}
	a:hover {
		padding-left: 15px;
		color: #369;
		background: none;		
	}
}



/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:2px solid #ddd;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
	.page_title {
		float: left;
		h3 {
			padding: 0px;
			margin: 0px;
		}
	}
}

/* Footer styles */
footer {
	clear:both;
	width:100%;
	border-top:2px solid #ddd;
	
	a {
		color: #369;
		background: none;
	}
	a:hover {
		color: #369;
		background: none;
		text-decoration: underline;
	}
	.footer_contact {
		float: right;
	}
	.footer_copyright {
		float: left;
	}
	p {
		padding:10px;
		margin:0;
	}
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.invisible {
  visibility: hidden;
}

nav {
	min-width: 180px;
	float:left;
	background: #f4f4f4;
	display: block;
	position:static;
}

.main {
	width: 93%;
	padding-left: 5%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;	
	a {
		color: #369;
		background: none;
		&:hover {
			color: #369;
			background: none;
			text-decoration: underline;
		}
	}
}

.navbar {
	margin-bottom: 10px;
}

nav a {
	font-weight:bold;
	display: block;
	padding: 8px 4px;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 5px;
}

._left  { float:left; }
._right { float:right; }
.text_left { text-align: left; }
.text_right { text-align: right; }


@media (max-width: 497px) {
	#layoutdims {
		.social-network {
			float: right;
		}
		.page_title {
			float: left;
		}
	}
}

.container {
	width: 100%;
	background: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

@media (min-width:1000px) { // screen adjustent
	.container { 
		max-width: 950px;
		margin: auto;
	}
}